
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb Booking</title>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}"> <!-- Ensure this path is correct -->
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">Airbnb Booking</div>
            <nav>
<!--                <ul>-->
<!--                    <li><a href="#">Home</a></li>-->
<!--                    <li><a href="#">Destinations</a></li>-->
<!--                    <li><a href="#">Experiences</a></li>-->
<!--                    <li><a href="#">Contact</a></li>-->
<!--                </ul>-->
                <a href="{% url 'login' %}"><button class="login-btn">Log In</button></a>
            </nav>
        </header>

        <main class="content">
            <div class="text-section">
                <h1>Find Your Perfect Stay</h1>
                <p>Discover unique places to stay and experiences to enjoy, all in one platform. Book your next adventure today!</p>
                <button class="explore-btn">Explore Now</button>
            </div>
            <div class="image-section">
                <img src="https://cdn.shopify.com/s/files/1/0558/6413/1764/files/Airbnb_Logo_Design_History_Evolution_0_1024x1024.jpg?v=1692808408" alt="Vacation Image">
            </div>
        </main>
    </div>
</body>
</html>
